head{
        height: 20px; 

    }


.header{
	height:120px;
	width: 1600px;
	background:#954157; 
	margin:0 0px 0 0px;

    }

#myDiv_map
{
float: right;
margin:0 0px 0 800px;
}


.container {
	width: 40%;
	height:500 px;
	max-width: 1500px;
	padding:0px;
 	}

h1_head {
    color: white;
    margin:0 10px 0 800px;
   }

.images_petit {
width:250px;
height:50px;
padding:5px;
margin:0 0px 20px 1300px; } 


.slidecontainer {
    width: 80%; /* Width of the outside container */
}


.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}