<!doctype html>
	{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Slider - Range slider</title>
 <!-- SIALAB -->
	<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/sialab.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/dashboard_agregat.css' %}" rel="stylesheet" type="text/css">





<!-- Bootstrap css -->
	<link href="{% static 'css/bootstrap_slider_min.css' %}" rel="stylesheet" type="text/css">



<!-- Script pour plotly  -->
	<script src="{% static 'js/plotly.js' %}" type="text/javascript">
	</script> 
 

<!-- Script pour jquerry  -->

   	<script src="{% static 'js/jquery_min.js' %}" type="text/javascript">
	</script>	

             <script src="{% static 'js/jquery_ui.js' %}" type="text/javascript">
	</script>

      <link rel="stylesheet" "{% static 'css/jquerry_ui.css' %}" type="text/css">

 <!-- Script fonction.js  -->
	 
	<script src="{% static 'js/graph1.js' %}" type="text/javascript">
	</script>

	<script src="{% static 'js/makeplot_exchange.js' %}" type="text/javascript">
	</script> 

	<script src="{% static 'js/makeplot_load_curve.js' %}" type="text/javascript">
	</script> 

	<script src="{% static 'js/makeplot_countries.js' %}" type="text/javascript">
	</script> 

	<script src="{% static 'js/makeplot_installed_capa.js' %}" type="text/javascript">
	</script> 
	 
	<script src="{% static 'js/map.js' %}" type="text/javascript">
	</script> 

<!-- Script pour bootstrap min.js  -->
	 
	<script src="{% static 'js/bootstrap min.js' %}" type="text/javascript">
	</script>

 <!-- Script pour Slider.js  -->
	 
	<script src="{% static 'js/slidebar.js' %}" type="text/javascript">
	</script>
	<script src="{% static 'js/slidebar_range_date.js' %}" type="text/javascript">	</script> 

</head>
<body>




   	<script src="{% static 'js/jquery_min.js' %}" type="text/javascript">
	</script>	

             <script src="{% static 'js/jquery_ui.js' %}" type="text/javascript">
	</script>

      <link rel="stylesheet" href="{% static 'css/jquerry_ui.css' %}" type="text/css">

<!------ Include the above in your HEAD tag ---------->



	<script src="{% static 'js/slidebar_range_date.js' %}" type="text/javascript">	</script> 
              
              Amount:<span id="state"></span><br/><br/>
              <div id="advance_slide"></div><br/>
              
			<!-- End slider -->

		</div>
		
		
		
	</div>
</div>
 
</body>
</html>

