

{% load static %}
<html lang="en">

<head>

  <title>bbb</title>

 <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_slider_min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_slider.css' %}">

                             
    </head>
    <body>
        <div class="container">
        <div class="container">
            <h1>Bootstap Slider Sample Project</h1>


        </div>



        <script type="text/javascript" src="{% static 'js/jquery min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap_slider.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/slidebar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/list_menu.js' %}"></script>
    </body>

</html>
